{
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "trailingComma": "none",
  "endOfLine": "lf",
  "semi": true,
  "parser": "angular",
  "overrides": [{ "files": "*.html", "options": { "parser": "angular" } }, { "files": "*.scss", "options": { "parser": "scss" } }]
}
