$mobile-breakpoint: 425px;

:host {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: var(--app-sidebar-width) 1fr;
  grid-template-rows: var(--app-header-height) 1fr var(--app-footer-height);
  grid-template-areas:
    'sidebar header'
    'sidebar main'
    'sidebar footer';
  transition: grid-template-columns 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: black;

  // will only affect screens equal to or less than $mobile-breakpoint
  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: 360px 1fr;

    grid-template-areas:
      'header header'
      'main main'
      'footer footer';
  }
}
