:host {
  display: block;
  grid-area: main;
  line-height: 1.8;
  background-color: white;

  @media (max-width: 425px) {
    transition-property: transform, border-radius;
    transition-duration: var(--small-screen-sidebar-open-background-transition-duration);
    transition-timing-function: var(--small-screen-sidebar-open-background-transition-timing-function);
    will-change: transform;

    &[sidebar-state='open'] {
      transform: var(--small-screen-sidebar-open-background-transform);
      transform-origin: center top;
    }

    &[sidebar-state='close'] {
      transform: scale(1) translate3d(0, 0, 0);
      transform-origin: center top;
    }
  }
}

main {
  padding-inline: 16px;

  section.main__header {
    height: var(--app-header-height);
  }
}
