:host {
  display: block;
  grid-area: sidebar;
  position: relative;
  height: 100dvh;
  position: sticky;
  top: 0;
  border-right: 1px solid var(--primary-100);

  @media (max-width: 425px) {
    grid-area: 1 / 1 / -1 / 2;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    z-index: 2;
    // border-right: 0.0625rem solid black;
    box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.6);

    &.hidden {
      transform: translateX(-100%);
    }

    &.shown {
      transform: translateX(0%);
    }
  }
}

aside {
  height: 100%;
  background-color: white;
  line-height: 1.5;

  section.sidebar__header {
    height: var(--app-header-height);
    display: grid;
    place-content: center;
    position: sticky;
    top: 0;
    background-color: var(--primary-100);
    border-bottom: 0.0625em solid var(--primary-200);
    // box-shadow: 0px 2px 2px 0px var(--primary-100);
  }

  section.sidebar__content {
    padding-inline: 12px;
    padding-block: 8px;
    overflow-y: scroll;
    height: calc(100dvh - (var(--app-header-height) + var(--app-sidebar-footer-height)));

    /* width */
    &::-webkit-scrollbar {
      width: 0.32rem;
    }

    /* Track: this is the background of the thumb */
    &::-webkit-scrollbar-track {
      // background: var(--primary-100);
      // margin-block: 20px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--primary-200);
      border-radius: 99999px;
      cursor: pointer;
      margin-block: 8px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: var(--primary-300);
    }

    &::-webkit-scrollbar-thumb:active {
      background: var(--primary-400);
    }
  }

  section.sidebar__footer {
    display: grid;
    place-content: center;
    position: sticky;
    bottom: 0;
    background-color: white;
    height: var(--app-footer-height);
    border-top: 0.0625em solid var(--primary-100);
  }
}

.sidebar_toggle__button_container {
  position: absolute;
  z-index: 1;
  display: inline;
  right: 0;
  top: var(--app-header-height);
  transform: translate(calc(+50% - 0.32rem / 2), -50%);
  line-height: 1;
  border-radius: 50%;

  @media (max-width: 425px) {
    // display: none;
  }

  button {
    padding: 0;
    margin: 0;
    border: none;
    // outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: white;
    transition-property: background-color;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);

    span {
      transition-property: transform;
      transition-duration: 120ms;
      transition-delay: 250ms;
      transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    }

    &:hover {
      background-color: hsl(0, 0%, 88%);
    }

    &:active {
      background-color: hsl(0, 0%, 84%);
    }

    &[sidebar-state='open'] {
      span {
        transform: rotate(180deg);
      }
    }

    &[sidebar-state='close'] {
      span {
        transform: rotate(0deg);
      }
    }
  }
}
