@let sidebarState = this.sidebarState();

<div class="sidebar_toggle__button_container">
  <button #sidebarStateToggleBtn (click)="toggleSidebar($event)" type="button" [attr.sidebar-state]="sidebarState">
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1)">
        <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
      </svg>
    </span>
  </button>
</div>

<aside>
  <section class="sidebar__header">
    <h2>Sidebar Header</h2>
    <!-- <button (click)="closeSidebar()">close</button> -->
  </section>

  <section class="sidebar__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, maxime? Aperiam, porro dicta. Nam, nihil!
      Fuga, illum sint deserunt quia id veniam corrupti architecto quam voluptatum ullam quasi aliquid expedita tenetur
      soluta, dolorum ipsa eum quae. Nobis alias facere quisquam numquam! Itaque, laudantium amet autem nulla minima
      incidunt minus beatae repellat fugit doloribus repellendus, rem modi! Reiciendis labore, eum officiis dolorum
      maiores unde impedit assumenda dolores voluptates, aut illo, distinctio ut. Praesentium, eum nesciunt animi,
      suscipit cum dolore voluptas aut officiis itaque, illo magnam debitis. Illum ea quam assumenda tempore
      necessitatibus aliquid consequatur saepe! Magni optio facilis nobis corrupti vitae incidunt odit asperiores
      blanditiis veniam. Ducimus amet non esse ea nam possimus reiciendis assumenda, veritatis architecto temporibus
      officiis dicta laboriosam rem aspernatur autem quas voluptatem voluptate. Pariatur nihil quisquam laborum,
      incidunt unde quaerat ratione omnis architecto fuga optio dicta maiores ducimus perferendis totam delectus error
      sequi. Doloremque, debitis nihil! Consequatur porro minus sit veniam ipsam pariatur est cumque, doloribus
      molestiae inventore et quam ea quis consectetur recusandae culpa tenetur ut voluptatem eos. Impedit, cumque saepe
      numquam iusto optio iure sint autem officia aut quia maiores eos quod velit exercitationem iste aliquam
      accusantium atque fugiat dolorem, est ab. Eos assumenda repellendus sapiente asperiores consequatur quis totam
      optio voluptate beatae minima. Velit iusto consectetur nulla iste quo? Placeat ex, libero perferendis perspiciatis
      cum incidunt quas deserunt eligendi culpa debitis ipsa laboriosam explicabo maiores reiciendis iste ea! Nobis
      autem beatae placeat earum voluptatum quis pariatur veritatis ratione aut culpa doloribus optio totam fuga, atque
      adipisci illo harum, ad quos, quaerat ducimus rem? Consequuntur pariatur delectus vitae dolorum corrupti similique
      dolore modi exercitationem, nihil sed atque voluptatibus harum, dolorem eum quae nemo? Porro quod est molestiae
      obcaecati possimus quas saepe, natus suscipit laborum in distinctio! Officiis, laboriosam aliquam deleniti quam
      porro cumque veritatis aut reiciendis, aliquid minus, cum nulla numquam exercitationem tenetur facilis. Autem
      laboriosam eum expedita officia. Minus, dolorum porro? Illum sapiente explicabo mollitia quidem commodi maiores
      ratione voluptate sit sequi alias, aut esse non consectetur recusandae! Magni necessitatibus hic tempora error
      earum quod maxime ducimus pariatur? Iure hic quo, maxime molestiae eos quasi dignissimos animi ut optio ducimus
      fuga magnam molestias ea nulla sequi tenetur quia corrupti similique iste fugiat deserunt temporibus. Quod iste
      asperiores repudiandae eaque qui sunt dicta exercitationem libero saepe, beatae doloribus blanditiis veritatis
      accusamus dolorum ipsam ab ea accusantium porro delectus. Nisi eligendi quidem dolores rerum totam animi dolorum,
      amet perferendis saepe nihil. Eligendi nobis dignissimos eum quae provident adipisci fuga, omnis similique quam
      nostrum unde obcaecati recusandae maxime odio culpa esse repellat! Aliquam, neque? Laborum non ratione doloribus
      quisquam omnis sint dolorem voluptas ducimus corrupti in delectus enim necessitatibus reprehenderit itaque
      inventore laudantium saepe beatae aut debitis eveniet, sequi aliquam? Itaque quia, suscipit aut quas mollitia
      dicta ratione iste vero quasi natus obcaecati est provident enim vel. Quisquam quod qui veritatis. Tempora enim
      saepe quam, consequuntur odio sequi repellendus est, hic sed explicabo dolorum impedit magni fuga consequatur
      iusto eum sint. Quisquam harum numquam error provident tempora nam natus voluptate consequuntur ipsa est
      reprehenderit quae quod quas fugiat praesentium obcaecati facilis sed minima quidem eligendi impedit temporibus
      esse, consectetur quia? Autem rem officiis numquam tenetur, fuga voluptates similique illo sunt delectus sapiente
      reiciendis minus suscipit? Perspiciatis consequuntur earum amet deserunt rem nostrum optio aut nemo! Dicta in
      porro repellat deleniti dignissimos, fugit est praesentium. Porro animi ad nihil laborum id temporibus dignissimos
      earum deleniti quasi, aut tempora magni quaerat enim harum repellat. Ratione ducimus dignissimos nisi ipsum
      debitis eaque praesentium, odit voluptate voluptates accusamus quo cupiditate perspiciatis, aspernatur vero
      blanditiis! Architecto aut facere delectus sapiente aperiam minima autem voluptate inventore explicabo odio
      adipisci magni animi eos ex, illum quae sint eum magnam cumque fugiat ullam quod dolore! Facilis facere quos vitae
      omnis, qui perferendis illum ab temporibus. Numquam illum illo inventore ut obcaecati ipsum exercitationem non
      accusantium suscipit aliquam, porro temporibus debitis totam atque, delectus cum quam necessitatibus placeat.
      Architecto laboriosam unde, explicabo quam, eveniet hic quae consequuntur fugit iure aut soluta maxime, magnam a
      ratione reprehenderit accusamus repellendus incidunt quo neque maiores. Fugiat molestias vitae harum quod aliquam!
      Esse non ullam soluta mollitia maiores pariatur vel qui magni officia omnis eligendi ex error odit laudantium,
      nemo tempore inventore, cumque ducimus. Quo ullam laboriosam magnam corporis, iusto consequatur exercitationem eos
      cupiditate numquam iure deleniti ab accusantium velit, recusandae iste in laudantium at debitis doloribus
      voluptatem reiciendis ratione dolor. Error veniam autem repudiandae dicta perferendis dolorem consequatur officiis
      facere ipsam laborum quaerat praesentium quis adipisci, blanditiis quibusdam. At dicta obcaecati accusantium
      nihil. Alias a, quis ratione iure minus, perferendis ea exercitationem facilis nisi distinctio possimus eveniet.
      Debitis omnis commodi repellat quam dolores error quae incidunt exercitationem, qui, itaque labore praesentium
      recusandae aliquid perspiciatis deleniti laborum veniam doloribus dicta magnam harum. Doloremque, expedita minus.
      Ex aperiam minima laborum pariatur adipisci velit sapiente non quisquam officia iste odio aliquam, ipsa quia
      facilis soluta quo quis. Facilis, rem itaque explicabo minima blanditiis temporibus! Harum enim velit dolor
      quisquam. Vel perspiciatis saepe aspernatur officiis quasi. Culpa libero quidem animi suscipit. Dolorem id nemo,
      reprehenderit quidem magni nobis! Nemo unde, accusamus fuga, ipsum, debitis sit quos eius iste harum nulla dolorum
      aliquid quis quo blanditiis. Quasi cumque, numquam nulla sint possimus pariatur recusandae hic excepturi
      exercitationem nobis quis rerum architecto? Ipsam vero itaque illum quae rerum inventore commodi? Quo praesentium
      dolore sint debitis nobis, qui dicta. Sit veniam delectus ullam, porro vitae cum corrupti vel at tenetur mollitia
      velit, excepturi a dicta illum assumenda, aut libero sed officiis placeat eligendi enim! Sed obcaecati alias
      laborum sunt nobis, ratione iure fuga est amet quibusdam hic similique cum quam sapiente nam, possimus ullam
      ducimus animi sint sequi laboriosam. Esse quam ipsum architecto tenetur, corrupti facere voluptatum culpa
      excepturi, id deserunt repellendus rerum placeat cumque? Ratione quibusdam dolores corporis, tempore consequuntur
      sint possimus, incidunt totam molestias, eius quo? Aspernatur nam dicta, id blanditiis dolorum illum neque?
      Exercitationem explicabo eligendi maiores soluta. Atque quae eum quod saepe molestiae quibusdam aperiam
      consectetur laboriosam ipsa beatae, nobis, quis ducimus impedit doloribus error nihil nesciunt repudiandae vitae
      eligendi tempora vero obcaecati! Mollitia officia itaque voluptatum iure recusandae exercitationem dolorum dolor
      sit tempore quasi, architecto explicabo. Rerum ipsam molestias beatae aspernatur sint exercitationem repellendus
      sequi adipisci unde! Dolor eaque aperiam deleniti error? Dolores architecto sed illum sunt obcaecati voluptatem
      itaque et nulla laborum quos nam voluptatum nihil qui nisi totam quam aliquid optio, debitis in commodi cumque
      labore! Minima pariatur magni autem dolores dolore commodi odit tenetur dignissimos, quas ullam impedit sapiente
      consectetur cumque expedita itaque dicta, accusantium hic distinctio in. Enim neque unde blanditiis saepe quam
      animi sequi ea molestiae totam necessitatibus sunt, minima consectetur deserunt iusto voluptas assumenda eos at
      eius suscipit quidem. Illo laborum in quaerat culpa nulla reiciendis nemo quam distinctio hic explicabo rerum
      natus dolorum alias eius provident commodi ab modi ut sapiente doloribus, beatae vero aperiam mollitia
      repellendus? Fuga, blanditiis reprehenderit perspiciatis saepe modi commodi nemo a quibusdam, incidunt, dolore
      nihil recusandae omnis suscipit fugiat temporibus necessitatibus illo consequatur eaque adipisci qui vitae enim.
      Modi aspernatur quibusdam vero totam rem excepturi molestiae aperiam necessitatibus quod eius assumenda vel, illo
      magnam odio eveniet neque laudantium quae doloribus architecto pariatur doloremque. Quisquam repudiandae
      distinctio, saepe deserunt porro autem officiis eius. Laudantium quod excepturi, praesentium soluta magnam
      provident ducimus aliquid numquam laboriosam maxime molestiae dolorem ipsam architecto repellendus rerum earum,
      vero ea nulla quisquam atque. Nesciunt inventore nulla animi optio ut modi doloremque fuga tempora dolores
      eligendi? Accusantium, enim vero. Amet saepe expedita ut nihil temporibus quam architecto ab in aliquid, deleniti
      eveniet, minus commodi asperiores molestiae corporis ducimus? Natus itaque laboriosam quis! Quo minus obcaecati
      illum omnis accusamus rerum ab nisi unde mollitia voluptatibus porro odio molestias, atque expedita asperiores
      magni minima est consectetur dolorum reiciendis assumenda quibusdam architecto. Obcaecati assumenda debitis,
      eveniet eos asperiores enim tempora inventore repudiandae sunt quasi minus ducimus vitae, maiores nobis alias vel
      voluptatem culpa quas molestias tenetur impedit nisi? Quae soluta ipsam excepturi asperiores repellat id! In, sed
      reprehenderit nesciunt earum dolores aliquam odio, mollitia quae voluptatem nam ipsa obcaecati veritatis dolorem
      enim officia deleniti accusantium aut aspernatur omnis laboriosam sequi. Dolores odio esse maiores vero sunt
      suscipit, in id deleniti corporis accusantium sapiente ad et provident, tenetur error quidem sint voluptate.
      Consectetur placeat libero aliquid quo voluptate recusandae quos reprehenderit deserunt iste temporibus maiores
      possimus facere odio, dicta tempora, dolore pariatur repellendus culpa, ipsum aperiam! Animi, temporibus
      laboriosam reprehenderit minus eveniet obcaecati optio exercitationem facilis, delectus reiciendis iure architecto
      facere? Sunt enim magnam dolores omnis. Distinctio voluptatibus sapiente obcaecati corporis omnis similique animi,
      earum consectetur quasi aliquam possimus numquam beatae eius saepe, quia explicabo corrupti delectus. Consequuntur
      in illum ea eveniet unde aut fugiat tenetur dolor corrupti voluptate cum deleniti laudantium sit, reprehenderit
      veniam natus omnis dolorum cumque quam dolores dignissimos sequi quis laborum. At perferendis recusandae
      consectetur reiciendis enim. Impedit sapiente adipisci odio necessitatibus eveniet mollitia excepturi repudiandae
      possimus non officia. Deserunt, cupiditate fugit illum cumque distinctio quidem, temporibus aperiam incidunt
      mollitia accusantium illo voluptates quia omnis velit adipisci harum odit, officiis sit praesentium nostrum
      perspiciatis possimus tempora alias. Aperiam, numquam doloribus culpa rerum vero a aspernatur enim error sint odio
      quidem ad! Excepturi magnam facere qui dolores, odit sit impedit suscipit similique corrupti quibusdam culpa
      soluta quaerat sunt ipsa nisi maxime! Deserunt harum ab quaerat blanditiis veritatis laudantium unde, minima,
      eveniet esse possimus dolore, fuga est. Dolorum consequatur nihil quod repudiandae. Quisquam perspiciatis impedit
      maiores aut, sapiente laborum iste soluta dolores deleniti, ut aperiam perferendis suscipit numquam incidunt
      magnam officiis facere? Quibusdam quod expedita architecto vel, doloremque velit provident, maxime, modi impedit
      deleniti excepturi fuga. Maiores sequi veniam corporis iste nemo deserunt iusto delectus culpa aspernatur nostrum,
      nesciunt quam modi sint natus aut et harum. Earum, autem! Odio quas pariatur corporis corrupti fugiat vel eius cum
      sit enim ipsa facere maiores, nisi ab dicta! Optio totam qui itaque, delectus consequuntur quibusdam suscipit
      similique deleniti omnis cumque vitae sapiente reprehenderit aliquam expedita maxime laborum quam sit odit
      voluptates! Doloremque minima dignissimos consequuntur quae, dolore, assumenda cumque aut a ullam iste fuga est
      asperiores? Saepe ipsam veritatis quidem? Quia consectetur quas, in voluptatibus dolores delectus odio quis iure
      eius ea dolorum numquam quae esse atque porro molestias corporis, amet dolorem possimus. Nihil natus fuga ex
      cumque. Nobis assumenda, facilis impedit vel quam animi mollitia nemo placeat magnam consectetur, odio, eaque
      maiores! Ullam consequatur soluta corrupti, beatae ducimus minus error, necessitatibus quos eaque, recusandae
      dolorum qui. Asperiores, magni! Est autem ab earum eos optio in omnis, obcaecati distinctio repellat quasi quidem
      laudantium maiores. Culpa quaerat quas quibusdam tempore aut eos cupiditate blanditiis possimus rerum sapiente.
      Suscipit dolorum consectetur labore voluptatibus reiciendis, sequi corporis veritatis. Dolorum repellat delectus
      adipisci laboriosam aliquam quisquam tempore reprehenderit, quam veritatis suscipit ipsum ipsa vitae autem iusto
      consectetur accusamus saepe provident temporibus, eveniet necessitatibus iste similique aliquid molestiae iure?
      Accusamus porro doloremque blanditiis dignissimos tenetur cupiditate eaque deleniti officiis officia quas cumque
      omnis assumenda voluptate quia rerum eos, neque ullam ex dolor culpa qui quis corrupti eveniet quaerat. Ut
      deleniti est ab odio ad voluptatem aliquid assumenda! Alias perspiciatis vero earum totam doloribus necessitatibus
      veniam distinctio officia exercitationem animi accusamus, optio, nam minima voluptates quasi quia ab inventore
      nemo culpa accusantium facilis! Repudiandae nobis sequi quisquam quo doloribus autem voluptates accusamus
      laudantium dicta commodi dolorum ea molestiae explicabo exercitationem libero fuga debitis tempora sed corrupti ut
      sapiente, quod nam, at deleniti? Deserunt velit est explicabo! Incidunt expedita aspernatur, quasi, labore quis
      deserunt aperiam maiores ipsum placeat unde officiis voluptas obcaecati ullam provident tempore optio vel. Aut eos
      aspernatur ipsa atque. Minima, architecto similique! Tempore, expedita! Explicabo culpa tenetur quod molestiae.
      Molestiae, odio? Omnis magnam distinctio laboriosam! Minima magni, ut nostrum perferendis laboriosam eaque ea vero
      sapiente et! Natus neque praesentium alias incidunt aut unde adipisci ipsum repellat quidem aliquam voluptatibus
      et saepe possimus iusto velit nisi, consequatur optio ea. Fugiat, perspiciatis? Cum corrupti, minus odio hic
      maiores voluptatem sapiente obcaecati ab autem voluptas. Sunt doloribus unde deleniti excepturi quidem quam, fuga
      magnam illo. Iste non iure natus.
    </p>
  </section>

  <section class="sidebar__footer">
    <h2>Sidebar Footer</h2>
  </section>
</aside>
