@use 'styles/global-css-reset.scss';

:root {
  --primary-color-base: #4d55cc;
  --secondary-color-base: #a6b1e1;
}

// primary color shades
:root {
  --primary-100: color-mix(in oklab, var(--primary-color-base) 15%, white);
  --primary-200: color-mix(in oklab, var(--primary-color-base) 30%, white);
  --primary-300: color-mix(in oklab, var(--primary-color-base) 50%, white);
  --primary-400: color-mix(in oklab, var(--primary-color-base) 70%, white);
  --primary-500: var(--primary-color-base);
  --primary-600: color-mix(in oklab, var(--primary-color-base) 70%, black);
  --primary-700: color-mix(in oklab, var(--primary-color-base) 50%, black);
  --primary-800: color-mix(in oklab, var(--primary-color-base) 30%, black);
  --primary-900: color-mix(in oklab, var(--primary-color-base) 15%, black);
}

// secondary color shades
:root {
  --secondary-100: color-mix(in oklab, var(--secondary-color-base) 15%, white);
  --secondary-200: color-mix(in oklab, var(--secondary-color-base) 30%, white);
  --secondary-300: color-mix(in oklab, var(--secondary-color-base) 50%, white);
  --secondary-400: color-mix(in oklab, var(--secondary-color-base) 70%, white);
  --secondary-500: var(--secondary-color-base);
  --secondary-600: color-mix(in oklab, var(--secondary-color-base) 70%, black);
  --secondary-700: color-mix(in oklab, var(--secondary-color-base) 50%, black);
  --secondary-800: color-mix(in oklab, var(--secondary-color-base) 30%, black);
  --secondary-900: color-mix(in oklab, var(--secondary-color-base) 15%, black);
}
